html, body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.grid{
    display: grid;
    grid-template-columns: 22rem auto;
    grid-template-rows: 8rem auto;
}

header{
    border: 2px solid yellow;
    grid-column: 1 / 4;
    grid-row: 1;
}


aside{
    border: 2px solid blue;
    grid-column: 1;
    grid-row: 2 / 4;
}

main{
    border: 2px solid green;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}